<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etocrm.sdk.stream.dao.CkInsertDataMapper">

    <insert id="batchInsert" parameterType="com.etocrm.sdk.stream.entity.SdkNew">
        INSERT INTO eto.youngor04
        (
        `year`,
        quarter,
        `month`,
         uu,
        unionId,
        openId,
        appId,
        appkey,
        enVersion,
        version,
        path,
        scene,
        query,
        visitPath,
        back,
        tv,
        tl,
        track,
        t,
        `time`,
        retry,
        dt,
        tt,
        reqIp,
        entryPage,
        shareFrom,
        shareTitle,
        sharePath,
        isNewMember,
        appShow,
        pageShow,
        pageShare,
        appHide,
        pageHide,
        eventClick,
        getShop,
        addToCart,
        customOrder,
        search,
        te,
        q,
        paramTe,
        paramQ,
        latitude,
        longitude,
        model,
        brand,
        systems,
        platForm,
        networktype
         )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.year},
            #{item.quarter},
            #{item.month},
            #{item.uu},
            #{item.unionId},
            #{item.openId},
            #{item.appId},
            #{item.appkey},
            #{item.enVersion},
            #{item.version},
            #{item.path},
            #{item.scene},
            #{item.query},
            #{item.visitPath},
            #{item.back},
            #{item.tv},
            #{item.tl},
            #{item.track},
            #{item.t},
            #{item.time},
            #{item.retry},
            #{item.dt},
            #{item.tt},
            #{item.reqIp},
            #{item.entryPage},
            #{item.shareFrom},
            #{item.shareTitle},
            #{item.sharePath},
            #{item.isNewMember},
            #{item.appShow},
            #{item.pageShow},
            #{item.pageShare},
            #{item.appHide},
            #{item.pageHide},
            #{item.eventClick},
            #{item.getShop},
            #{item.addToCart},
            #{item.customOrder},
            #{item.search},
            #{item.te},
            #{item.q},
            #{item.paramTe},
            #{item.paramQ},
            #{item.latitude},
            #{item.longitude},
            #{item.model},
            #{item.brand},
            #{item.systems},
            #{item.platForm},
            #{item.networktype})
        </foreach>
    </insert>

</mapper>